* {
  font-family: "Roboto", sans-serif;
  /* make variables for colors  */
  --white-100: #ffffff;
  --white-200: #f2f2f2;
  --white-300: #e6e6e6;
  --white-400: #d9d9d9;
  --white-500: #cccccc;
  --white-600: #bfbfbf;
  --white-700: #b3b3b3;
  --white-800: #a6a6a6;
  --white-900: #999999;
  --black-100: #8c8c8c;
  --black-200: #808080;
  --black-300: #737373;
  --black-400: #666666;
  --black-500: #595959;
  --black-600: #4d4d4d;
  --black-700: #404040;
  --black-800: #333333;
  --black-900: #000000;
  --primary-100: #d4dcff;
  --primary-200: #a9b4ff;
  --primary-300: #7e8cff;
  --primary-400: #5364ff;
  --primary-500: #283cff;
  --primary-600: #0014ff;
  --primary-700: #0000cc;
  --primary-800: #000099;
  --primary-900: #000066;
  --secondary-100: #ffe6d4;
  --secondary-200: #ffc9a9;
  --secondary-300: #ffac7e;
  --secondary-400: #ff8f53;
  --secondary-500: #ff7214;
  --secondary-600: #cc5900;
  --secondary-700: #994000;
  --secondary-800: #662700;
  --secondary-900: #331400;
  --tertiary-100: #d4ffe6;
  --tertiary-200: #a9ffc9;
  --tertiary-300: #7effac;
  --tertiary-400: #53ff8f;
  --tertiary-500: #14ff72;
  --tertiary-600: #00cc59;
  --tertiary-700: #009940;
  --tertiary-800: #006627;
  --tertiary-900: #003314;
  --warning-100: #fff4d4;
  --warning-200: #ffe9a9;
  --warning-300: #ffde7e;
  --warning-400: #ffd353;
  --warning-500: #ffc814;
  --warning-600: #cc9f00;
  --warning-700: #997a00;
  --warning-800: #665500;
  --warning-900: #332a00;
  --danger-100: #ffd4d4;
  --danger-200: #ffa9a9;
  --danger-300: #ff7e7e;
  --danger-400: #ff5353;
  --danger-500: #ff1414;
  --danger-600: #cc0000;
  --danger-700: #990000;
  --danger-800: #660000;
  --danger-900: #330000;
  --success-100: #d4ffd4;
  --success-200: #a9ffa9;
  --success-300: #7eff7e;
  --success-400: #53ff53;
  --success-500: #14ff14;
  --success-600: #00cc00;
  --success-700: #009900;
  --success-800: #006600;
  --success-900: #003300;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--black-800);
  color: var(--white-100);
}
