/* primary: {
      100: "#D4DCFF",
      200: "#A9B4FF",
      300: "#7E8CFF",
      400: "#5364FF",
      500: "#283CFF",
      600: "#0014FF",
      700: "#0000CC",
      800: "#000099",
      900: "#000066",
    },
    secondary: {
      100: "#FFE6D4",
      200: "#FFC9A9",
      300: "#FFAC7E",
      400: "#FF8F53",
      500: "#FF7214",
      600: "#CC5900",
      700: "#994000",
      800: "#662700",
      900: "#331400",
    },
    tertiary: {
      100: "#D4FFE6",
      200: "#A9FFC9",
      300: "#7EFFAC",
      400: "#53FF8F",
      500: "#14FF72",
      600: "#00CC59",
      700: "#009940",
      800: "#006627",
      900: "#003314",
    }, */
* {
  /* make variables for colors */
  --primary-100: #d4dcff;
  --primary-200: #a9b4ff;
  --primary-300: #7e8cff;
  --primary-400: #5364ff;
  --primary-500: #283cff;
  --primary-600: #0014ff;
  --primary-700: #0000cc;
  --primary-800: #000099;
  --primary-900: #000066;
  --secondary-100: #ffe6d4;
  --secondary-200: #ffc9a9;
  --secondary-300: #ffac7e;
  --secondary-400: #ff8f53;
  --secondary-500: #ff7214;
  --secondary-600: #cc5900;
  --secondary-700: #994000;
  --secondary-800: #662700;
  --secondary-900: #331400;
  --tertiary-100: #d4ffe6;
  --tertiary-200: #a9ffc9;
  --tertiary-300: #7effac;
  --tertiary-400: #53ff8f;
  --tertiary-500: #14ff72;
  --tertiary-600: #00cc59;
  --tertiary-700: #009940;
  --tertiary-800: #006627;
  --tertiary-900: #003314;
}
